.container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.centered-content {
  text-align: center;
}

.text-test {
  color:orange;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 5rem;
  
  margin: 0;
}


    

.block2{
    clear: both;
    color: black;
    font-style: unset;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 35px;
    padding-top: 30px;
}


.grid-container{
margin:1px;

}


@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

